.board {
    margin-right: auto;
    margin-left: auto;
    border: solid 1px black;
    width: calc(var(--cell-size) * 8);
    margin-top: 3vw;
}

.board .cell {
    width: var(--cell-size);
    height: var(--cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    display: flex;
}