:root {
    --cell-size: 5vw
}

body {
    overflow: hidden;
}

.black {
    background: black;
}

.white {
    background: white;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}