.search-table {
    position: relative;
    height: 35vw;
    width: 90vw;
    overflow: auto;
    background: rgba(0, 0, 0, 0.7);
}

.search-table tbody tr:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
}

.table-wrapper-scroll-y {
    display: block;
    border: 0.5vw solid white;
}


.search-table-content, .search-table-content th, .search-table-content td {
    border: 1px solid white;
    text-align: center;
}

.search-table-content th {
    color: white;
}

.search-table-content td {
    color: white;
}

.search-table::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 0.5vw;
    width: 0.5vw;
}

.search-table::-webkit-scrollbar {
    width: 1vw;
}